<nav>
  <div class="heading"><span>My web manager</span></div>
  <div class="menu"></div>
</nav>

<section class="page-container">
  <h2>User added information</h2>
  <table>
    <thead>
      <tr>
        <th style="min-width: 30px;"></th>
        <th style="min-width: 300px;">Category</th>
        <th style="min-width: 100%; width: 100%;">Description</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let item of information">
        <td style="min-width: 30px" class="delete-container" (click)="deleteInformation(item.id)">&#10005;</td>
        <td style="min-width: 300px;" (click)="selectInformation(item)">{{ categoriesDictionary.get(item.categoryId).name }}</td>
        <td style="min-width: 100%; width: 100%;" (click)="selectInformation(item)">{{ item.text }}</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="sidebar" *ngIf="isShownSidePanel">
  <h3>Edit information</h3>

  <form [formGroup]="currentInformation">
    <label>
      <span>Category</span>
      <select formControlName="categoryId">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </label>

    <label>
      <span>Title</span>
      <input formControlName="title" />
    </label>

    <label>
      <span>Text</span>
      <input formControlName="text" />
    </label>

    <button type="button" [disabled]="currentInformation.invalid" (click)="updateInformation()">Add to application</button>
    <button type="button" (click)="closePanel()">Cancel</button>
  
  </form>
</section>